{% extends "base.html" %}

{% block content %}
<div>
    <img src="{{ album.album_img.url }}" alt="{{ album.title }}" style="max-width: 200px; max-height: 200px;">
    <h2>{{ album.title }}</h2>
    <h3>by {{ album.artist }}</h3>
    <h3>Released: {{ album.release_date }}</h3>
    <h3>Genres:</h3>
    <ul>
        {% for genre in album.genres.all %}
            <li>{{genre.name}}</li>
        {% endfor %}
    </ul>   
    <h3>Length: {{ album.length }}</h3>

    <h3>Songs</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for song in album.songs.all %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.duration }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Formats and Prices</h3>
    <table>
        <thead>
            <tr>
                <th>Format</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for album_format in album.albumformat_set.all %}
                <tr>
                    <td>{{ album_format.format.name }}</td>
                    <td>${{ album_format.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}